<div id="cart" class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1>CART</h1>
            </div>
            <div ng-controller="CartCtrl">
                <ul class="list-group" ng-repeat="item in items">
                    <b class="navStyle">{{item.name}}</b>
                    <span class="badge" style="line-height:25px">$ {{item.price}}</span>
                    <span class="glyphicon-remove-circle" style="color:red" ng-click="deleteItem(product)"></span>
                </ul>
                <li class="list-group-item">Order total:
                    <span class="badge" style="line-height:25px">$ {{total}}
                </span>
                </li>
                <p></p>
                <button class="btn btn-primary" href="#" ng-click="clear()">Submit</button>
                <button class="btn btn-danger" ng-click="clear()">Clear</button>
            </div>
        </div>
    </div>
</div>