<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html lang="en">
<!--<![endif]-->




<body>
    <div id="products" class="container">
        <div class="page-header">
            <h1>PRODUCTS</h1>

        </div>
        <div ng-controller="HomeCtrl">
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="product in products">
                    <b class="navStyle">{{product.name}}</b>
                    <div class="btn-group" role="group" style="float:right" aria-label="...">
                        <button class="btn btn-info" type="button" ng-init="product.toggle" ng-click="product.toggle = !product.toggle"><i class="glyphicon glyphicon-info-sign"></i></button>
                        <button class="btn btn-success" type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                    </div>
                    <div ng-show="product.toggle">
                        <div class="container">
                            <p class="navStyle "><b>Description: </b><i>{{product.description}}</i></p>
                            <p class="navStyle "><b>Price: $</b><i>{{product.price}}</i></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>